body {
    background-color: #3399ff;
    font-family: 'Lato', sans-serif;
}

html {
    height: 100%;
}

#content .footer {
    text-align: center;
    color: #FFFFFF;
    padding-top: 160px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.container {
	max-width: 90%;
	width: 600px;
}

#process-sec {
	padding: 0;
}

#choosefile {
	text-align: left;
}

.act-form {
    margin: 0;
    padding: 0;
    padding-top: 10%;
    max-width: 100%
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.images {
	margin-bottom: 10px;
	padding-left: 3.3px;
	padding-right: 3.3px;
}

#uploadfile {
	padding-left: 0;
	padding-right: 0;
	border: none;
	padding-top: 20px;
}

#forgetpassword {
    text-decoration: underline;
    color: #dee2e6;
}

#login {
    text-decoration: underline;
    color: #dee2e6;
    margin-left: 10px;
}

.form-group {
    max-width: 100%;
}

.form-content {
    width: 303px;
    max-width: 80%
}

#submit-login {
    margin-top: 2rem;
}

#submit-signup {
    margin-top: 2rem;
}

#signup-btn {
	padding-top: 10%
}

#login-error {
  clear: both;
  color: #990000;
  padding-top: 10px;
}

footer {
    font-size: 0.8em;
    height: 200px;
    position: relative;
}

footer p {
    text-align: center;
    color: #e1e1e1;
}

footer p.title {
    font-size: 1.2em;
    padding-top: 80px;
}

footer ul {
    align-items: center;
    display: flex;
    padding: 20px;
}

footer ul li {
   list-style: none;
    flex: 1;
} 
